{% extends "base.html" %} {% block title %} Iniciod de Sesion {% endblock %} {%
block content %}


<form method="post" action="/validar">
  <div id="cajaLogin">
    <p id="titulo">BIENVENIDO AL SISTEMA</p>

    <p>Usuario: <input type="text" name="usuario" /></p>
    <p>Contraseña: <input type="password" name="password" /></p>
    <p><input type="submit" class="boton" value="INGRESAR" /></p>
  </div>
</form>

<script>
  /*Abrir nueva ventana en la misma pestaña que estoy*/
  function ventanaLogin() {
    window.open("/login", "_self");
  }
  /*Abrir nueva ventana en la misma pestaña que estoy*/
  function ventanaRegistrar() {
    window.open("/registro", "_self");
  }
</script>
{% endblock %}
